<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Index</title>
</head>
<body>
	<div>
		<h1 th:text="${title}" align="center" style="color: blue;"></h1>
	</div>
	<hr></hr>
	<div align="center">
		<form method="post">
			<table>
				<tr>
					<td><label>Employee Id : </label></td>
					<td><input type="text" name="eid" /></td>
				</tr>
				<tr>
					<td><label>Employee Name : </label></td>
					<td><input type="text" name="name" /></td>
				</tr>
				<tr>
					<td><label>Employee Designation : </label></td>
					<td><input type="text" name="designation" /></td>
				</tr>
				<tr>
					<td colspan="1">
						<button>Add Employee</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>